/* Boilerplate */

*::before,
*::after,
* {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration-thickness: 8;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

/* Variables */

:root {
  --bg-color-main: #ffefca;
  --bg-color-aux: #65a161;
  --color-main: #aa470a;
}

@font-face {
    font-family: 'Luciole';
    src:
      url('fonts/Luciole-Regular.woff2') format('woff2'), /* Modern Browsers */
      url('fonts/Luciole-Regular.ttf') format('truetype'); /* Safari, Android, iOS */
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Luciole';
    src:
      url('fonts/Luciole-Italic.woff2') format('woff2'),
      url('fonts/Luciole-Italic.ttf') format('truetype');
    font-style: italic;
    font-weight: normal;
}

@font-face {
    font-family: 'Luciole';
    src:
      url('fonts/Luciole-Bold.woff2') format('woff2'),
      url('fonts/Luciole-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: bold;
}


body {
  background-color: var(--bg-color-main);
  color: var(--color-main);
  font-family: 'Luciole', sans-serif;
  margin: 0;
  padding: 0;
}

p {
  padding-left: 1rem;
}

h1,
h2,
h3 {
  text-align: center;
}

/* Grid */

html {
  height: 100dvh;
}

body {
  min-height: 100dvh;
  display: grid;
  grid-template-rows: 1fr 2fr auto;
}

header {
  grid-row: 1 / 2;
}

main {
  grid-row: 2 / 3;
  display: grid;
  grid:
    [greeting-start] 'greeting portrait' [greeting-end]
    [introduction-start] 'introduction portrait' [introduction-end]
    / minmax(min-content, 1fr) minmax(300px, max-content);
}


.greeting {
  grid-area: greeting;
  font-weight: bold;
  font-size: 150%;
}


.introduction {
  grid-area: introduction;
}

.portrait {
  grid-column: 2 / 3;
  grid-area: portrait;
  place-self: start end;
  padding: 2em;
}


footer {
  grid-row: 3 / 4;
  display: grid;
  grid:
    [info-contact-start] 'info contact' auto [info-contect-end]
    [copyright-start] 'copyright copyright' min-content [copyright-end]
    / minmax(min-content, max-content) minmax(min-content, 1fr);
}

.info {
  grid-area: info;
  padding-right: 1rem;
}

.contact {
  grid-area: contact;
}

.copyright {
  grid-area: copyright;
}

footer {
  background-color: var(--bg-color-aux);
  color: white;
  margin: none;
}
