/* Variables */

:root {
  --bg-color-main: #ffefca;
  --bg-color-aux: #65a161;
  --color-main: #aa470a;
  --color-aux: #402e32;
}


/* Boilerplate */

*::before,
*::after,
* {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}

/*section + section {
  margin-top: 4rem;
}*/

a {
  text-decoration-thickness: 8;
}

a:link {
  color: var(--color-main);
}

a:visited {
  color: var(--color-aux);
}

a:focus {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  cursor: pointer;
  color: var(--color-aux);
}

a:active {
  color: var(--color-aux);
}


@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&family=Playfair+Display:ital@1&display=swap');

body {
  background-color: var(--bg-color-main);
  color: var(--color-main);
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

main {
  background: var(--bg-color-main);
  background: linear-gradient(180deg, var(--bg-color-main) 0%, #FFFFFF 80%);
  flex: 1 0 auto;
}

p, h3 {
  padding-left: 1rem;
  animation: p-fade 500ms ease-out 0s 1 normal backwards;
}

img {
  animation: img-fade 500ms ease-in 0s 1 normal forwards;
}

@keyframes p-fade {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes img-fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

h1,
h2 {
  text-align: center;
}

h1 {
  font-family: "Playfair Display", serif;
  font-optical-siing: auto;
  font-weight: 400;
  font-style: italic;
  font-size: 3rem;
}

/* Layout */

html, body {
   height: 100dvh;
}

header {
  position: sticky;
  z-index: 10;
  width: 100%;
  background-color: var(--color-main);

  a:link {
    color: #FFFFFF;
    font-weight: bold;
    text-decoration: none;
  }

  a:visited {
    color: #FFFFFF;
  }

  a:focus {
    text-decoration: underline;
  }

  a:hover {
    text-decoration: underline;
    cursor: pointer;
    color: #FFFFFF;
  }

  a:active {
    text-decoration: none;
    color: #FFFFFF;
  }
}


nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: left;
  height: 2rem;
  padding-left: 1rem;
  margin-top: 0;

  li {
    float: left;
    padding-right: 1.5rem;
    text-align: center;
  }
}

main {
}

.title {
}

.introduction {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  text-align: justify;
  padding: 1% 0 5% 0;
  
  div {
    flex: 0.5 1 60ch;
    padding-right: 1ch;
  }
  
  .portrait {
    padding-top: 1rem;
  }
}

.about-me {
}

footer {
  background-color: var(--bg-color-aux);
  color: white;
  
  p {
    display: inline-block;
  }
  
  .copyright {
    display: block;
    margin-bottom: 0;
    padding-bottom: 0.5rem;
  }
  
  & > *:not(:first-child) {
    margin-top: 0;
  }
  
  flex-shrink: 0;
}

.info {
  
}

.contact {
}


